<link rel="icon" href="images/favicon.ico" type="image/ico" />

<link href="../../../assets/build/css/custom.scss" rel="stylesheet">
<div class="container-fluid loginStyle">
    <div id="M_login_form" class="row loginBorder">
        <div class="bg_login_red">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 img_resposive_scale login_leftarea">
            <img src="../../../assets/production/images/MERIDIAN-COLOR-LOGO.png" class="img_forgot-password" />
            <div class="pactHead">M3Pact</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 login_rightarea">
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="card">
                        <div class="login_form-title">
                            <h1>{{fortgotPasswordLabels.WELCOMETEXT}}</h1>
                        </div>
                        <h1 class="title">{{fortgotPasswordLabels.FORGOTPASSWORD}}</h1>
                        <form [formGroup]="forgotPasswordForm" class="form-horizontal form-label-left input_mask">

                            <br />
                            <div class="input-container">
                                <div *ngIf="email.invalid && email.touched">
                                    <font size="3" class="text-danger" *ngIf="email.errors.required">
                                        {{forgotPwdConstants.emailRequired}}
                                    </font>
                                    <font size="3" class="text-danger" *ngIf="email.errors.pattern">
                                        {{forgotPwdConstants.invalidEmail}}
                                    </font>
                                </div>
                                <input [(formControl)]="email" id="Username" type="text" name="email" value="">
                                <label for="Username">{{fortgotPasswordLabels.EMAIL}}</label>
                                <div class="bar"></div>
                            </div>
                            <div class="button-container">
                                <div class="col-xs-12">
                                    <button type="submit" (click)="sendEmail(forgotPasswordForm)" class="btn btn-dark btn-sm btn-round pull-right">{{fortgotPasswordLabels.EMAILPASSWORD}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p-dialog header="{{displayLabel}}"
                  [(visible)]="displayDialog"
                  [responsive]="true"
                  showEffect="fade"
                  [width]="300"
                  [modal]="true"
                  [contentStyle]="{'overflow':'visible'}"
                  (onHide)="close()">
            <div>
                <span>{{dialogueMsg}}</span>
            </div>
            <div class="ui-g-12">
                <button class="btn btn-dark btn-round btn-sm pull-right" type="button" (click)="close()">
                    {{sharedLabels.BUTTONS.OK}}
                </button>
            </div>
        </p-dialog>
    </div>
</div>
