<link rel="icon" href="images/favicon.ico" type="image/ico" />

<link href="../../../assets/build/css/custom.scss" rel="stylesheet">
<div class="container-fluid" style="margin-left: -6px;">
    <div id="M_login_form" class="row loginBorder">
        <div class="bg_login_red">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 img_resposive_scale login_leftarea">
            <img src="../../../assets/production/images/MERIDIAN-COLOR-LOGO-WHITE.png img_forgot-password" />
            <div class="pactHead">M3Pact</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 login_rightarea">
            <div class="row">
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="card">
                        <div class="login_form-title">
                            <h1>{{resetPasswordLabels.WELCOMETEXT}}</h1>
                        </div>
                        <h1 class="title">{{resetPasswordLabels.RESETPASSWORD}}</h1>
                        <form [formGroup]="resetPasswordForm" class="form-horizontal form-label-left input_mask">
                            <div class="input-container">
                                <div *ngIf="newPassword.invalid && newPassword.touched">
                                    <font size="3" class="text-danger" *ngIf="newPassword.errors.required">
                                        {{resetPwdConstants.passwordRequired}}
                                    </font>
                                    <font size="3" class="text-danger" *ngIf="newPassword.errors.minlength">
                                        {{resetPwdConstants.pwdMinLength}}
                                    </font>
                                    <font size="3" class="text-danger" *ngIf="newPassword.errors.pattern">
                                        {{resetPwdConstants.invalidPwd}}
                                    </font>
                                </div>
                                <input [(formControl)]="newPassword" type="password" name="newPassword" value="">
                                <label>{{resetPasswordLabels.NEWPASSWORD}}</label>
                                <div class="bar"></div>
                            </div>

                            <div class="input-container">
                                <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
                                    <font size="3" class="text-danger" *ngIf="confirmPassword.errors.required">
                                        {{resetPwdConstants.cnfrmPasswordRequired}}
                                    </font>
                                    <font size="3" class="text-danger" *ngIf="confirmPassword.errors.minlength">
                                        {{resetPwdConstants.pwdMinLength}}
                                    </font>
                                    <font size="3" class="text-danger" *ngIf="confirmPassword.errors.pattern">
                                        {{resetPwdConstants.invalidPwd}}
                                    </font>
                                </div>
                                <input [(formControl)]="confirmPassword" type="password" name="confirmPassword" value="">
                                <label>{{resetPasswordLabels.CONFIRMPASSWORD}}</label>
                                <div class="bar"></div>
                            </div>

                            <div class="text-center">
                                <font size="3" class="text-danger">{{misMatchMsg}}</font>
                            </div>
                            <div class="container">
                                <div class="col-xs-12 col-sm-6">
                                    <button type="submit" (click)="validatePassword(resetPasswordForm)" class="form-control btn btn-dark btn-sm btn-round">
                                        {{resetPasswordLabels.SAVE}}
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <button type="button" class="form-control btn btn-dark btn-sm btn-round" (click)="clear()">
                                        {{resetPasswordLabels.CLEAR}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12">
                        <font size="3" class="text-primary"><i class="fa    fa-info-circle"></i> {{resetPasswordLabels.PWDTOOLTIP}}</font>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <p-dialog header="{{displayLabel}}"
              [(visible)]="displayDialog"
              [responsive]="true"
              showEffect="fade"
              [modal]="true"
              [contentStyle]="{'overflow':'visible'}"
              (onHide)="close()">
        <div>
            <span>{{dialogueMsg}}</span>
        </div>
        <div class="ui-g-12">
            <button class="btn btn-dark btn-round btn-sm pull-right" type="button" (click)="close()">
                {{sharedLabels.BUTTONS.OK}}
            </button>
        </div>
    </p-dialog>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.toggle').on('click', function () {
            $('.container').stop().addClass('active');
        });

        $('.close').on('click', function () {
            $('.container').stop().removeClass('active');
        });

    });

</script>
>
<!--</div>-->
